doctype html
html
    head
        title= "log in"
    body
    .black
    .white
        .login
            h1 Welcome
            h2 Please Log in or Sign up
            if (message)
                if (error.length > 0)
                    div.alert.alert-danger #{error}
            if (errorMessage)
                div.aldoctype html
        a(href='/') return to homepage
