doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/aboutme.css')
    body
        block content
            section#header.aboutme-header
                video(autoplay='' muted='' loop='')
                    source(src='/video/header-back.mp4' type='video/mp4')
                ul
                    li W
                    li e
                    li l
                    li c
                    li o
                    li m
                    li e
                    li &nbsp;
                    li t
                    li o
                    li &nbsp;
                    li m
                    li y
                    li &nbsp;
                    li e
                    li -
                    li P
                    li o
                    li r
                    li t
                    li f
                    li o
                    li l
                    li i
                    li o
                    li !
                    div(style='clear: both')
            section#intro.aboutme-intro(data-aos='fade-left')
                section
                    h2 Hi! My name is Hanan Davila
                    h3 Thank you for visiting!
            section#about.aboutme-detail(data-aos='fade-right')
                section
                    .detail
                        ul
                            li A
                            li B
                            li O
                            li U
                            li T
                            li &nbsp;
                            li M
                            li E
                            div(style='clear: both')
                    .detail-container
                        .detail-box.hanan-box
                            .imgBx
                                img.img-hanan(src='/image/hanan_davila.jpg')
                            .contentBx.hananBx
                                p
                                    | I am currently a final year student at the University of Melbourne, pursuing my Master&rsquo;s in orchestral performance. I am a professional pianist, but I am also learning guitar and flute. During my free time, I also enjoy composing music.
                        .detail-box.orch-box
                            .imgBx
                                img.img-orch(src='/image/orchestra.jpg')
                            .contentBx.orchBx
                                p
                                    | Last year, I successfully became an Orchestral Ensemble student at the Melbourne Conservatorium of Music, and participated in two out of four annual public performances, one of which was held overseas in Singapore. I&rsquo;m also the secretary
                                    | of the Music Student&rsquo;s Society at the University.
            section.aboutme-hint(data-aos='fade-left')
                h2
                    | This e-Portfolio contains examples of my performance, music composition and other related experiences. Please feel free to explore my website.
            section#skill.music-skills(data-aos='fade-right')
                h2.skill-header Music skills and Achievements
                .skill-container
                    .skill-box
                        .icon
                            img(src='/image/piano-icon.png' alt='')
                        .content
                            h2 Piano
                            h3
                                | AMEB Grade 8
                                br
                                | Professional level
                    .skill-box
                        .icon
                            img(src='/image/guitar-icon.png' alt='')
                        .content
                            h2 Guitar
                            h3 AMEB Grade 6
                    .skill-box
                        .icon
                            img(src='/image/Flute-icon.png' alt='')
                        .content
                            h2 Flute
                            h3 AMEB Grade 4
            script(src='https://unpkg.com/aos@next/dist/aos.js')
            script.
                AOS.init({
                    offset: 200,
                    duration: 1500
                });
            script(type='text/javascript' src='/javascripts/vanilla-tilt.js')
            script(type='text/javascript').
                VanillaTilt.init(document.querySelectorAll(".detail-box"), {max: 25, speed: 400});

