doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/aboutme.css')
    body
        block content
            <div class="aboutme-header">
                <video autoplay muted loop>
                    <source src="/video/header-back.mp4" type="video/mp4">
                </video>
                <ul>
                    <li>W</li>
                    <li>e</li>
                    <li>l</li>
                    <li>c</li>
                    <li>o</li>
                    <li>m</li>
                    <li>e</li>
                    <li>&nbsp;</li>
                    <li>t</li>
                    <li>o</li>
                    <li>&nbsp;</li>
                    <li>m</li>
                    <li>y</li>
                    <li>&nbsp;</li>
                    <li>e</li>
                    <li>-</li>
                    <li>P</li>
                    <li>o</li>
                    <li>r</li>
                    <li>t</li>
                    <li>f</li>
                    <li>o</li>
                    <li>l</li>
                    <li>i</li>
                    <li>o</li>
                    <li>!</li>
                    <div style="clear: both"></div>
                </ul>
            </div>
            <div class="aboutme-intro">
                <section>
                    <h2>Hi! My name is Hanan Davila</h2>
                    <h3>Thank you for visiting!</h3>
                </section>
            </div>
            <section class="aboutme-detail">
                <section>
                    <div class="detail-img left">
                        <img src="/image/orchestra.jpg">
                    </div>
                    <div class="detail-img right">
                        <img src="/image/hanan_davila.jpg">
                    </div>
                    <div class="detail">
                        <ul>
                            <li>A</li>
                            <li>B</li>
                            <li>O</li>
                            <li>U</li>
                            <li>T</li>
                            <li>&nbsp;</li>
                            <li>M</li>
                            <li>E</li>
                            <div style="clear: both"></div>
                        </ul>
                        <p class="detail-text" >I am currently a final year student at the University of Melbourne, pursuing my Master’s in orchestral performance. I am a professional pianist, but I am also learning guitar and flute. During my free time, I also enjoy composing music.</p>
                    </div>
                </section>
            </section>
            <section class="aboutme-hint">
                <h2>This e-Portfolio contains examples of my performance, music composition and other related experiences. Please feel free to explore my website.</h2>
            </section>
