doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/aboutme.css')
        <iframe width="0" height="0" src="https://www.youtuberepeater.com/watch?v=6Sq5Y2HzF1c#gsc.tab=0" frameborder="0" allowfullscreen></iframe>
    body
        block content
            .aboutme-intro
                section
                    h2 Hi! My name is Hanan Davila
                    h3 Thank you for visiting my e-Portfolio!
            section.aboutme-detail
                h2 About me
                .detail-left
                    p
                        | I am currently a final year student at the University of Melbourne, pursuing my Master’s in orchestral performance.
                        br
                        | I am a professional pianist, but I am also learning guitar and flute. During my free time, I also enjoy composing music.
                .detail-right
                    img(src="/image/hanan_davila.jpg")
            section.aboutme-music
                h2 This e-Portfolio contains examples of my performance, music composition and other related experiences. Please feel free to explore my website.
