head
    link(rel='stylesheet', href='/stylesheets/campus_skill.css')
    .section
        .content
            h1 Campus Life
            p Last year, I successfully became an Orchestral Ensemble student at the Melbourne Conservatorium of Music, and participated in two out of four annual public performances, one of which was held overseas in Singapore. I&rsquo;m also the secretary of the Music Student&rsquo;s Society at the University.
            // end fullpage

    img(src= "/image/orchestra.png")