head
    link(rel='stylesheet', href='/stylesheets/campus_skill.css')
    a(href='https://unimelb.edu.au')
        img(src="/image/download.png")
    title Campus Life
h1  Campus Life
p This is a section.
p2 This is another section
a(href='/skills')
    p skills