extends layout

block content
  head
    a(href='https://unimelb.edu.au')
      img(src="/images/download.png")
    title Campus Life
  h1  Campus Life
  p This is a section.
  p2 This is another section
  a(href='http://localhost:3000/skill')
    p skills
