// begin section
link(rel='stylesheet', href='/stylesheets/contact.css')
.section.fp-auto-height
  .footer
    p CONNECT WITH ME
    .social-links
      span
        a(href='https://www.linkedin.com/in/bradleyengelhardt', target='_blank')
          i.fa.fa-linkedin.fa-2x
      span
        a(target='_blank', href='https://twitter.com/bradengelhardt')
          i.fa.fa-twitter.fa-2x
      span
        a(href='https://github.com/SquishyAndroid', target='_blank')
          i.fa.fa-github.fa-2x
      span
        a(href='https://codepen.io/SquishyAndroid/pens/public/')
          i.fa.fa-codepen.fa-2x
// end section
// end fullpage
