extends layout
block head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel="stylesheet", href="https://unpkg.com/aos@next/dist/aos.css")
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/home.css')
block content
    section#header.aboutme-header
        h2.header-type Hi! My name is Hanan Davila
        h2.header-intro Welcome to my e-Portfolio!
        a(href='#about')
            .header-scroll
        .nav-slider
            a(href='#header')
                .navs-box
                    .navs-content
                        h2 home
            a(href='#about')
                .navs-box
                    .navs-content
                        h2 about
            a(href='#skill')
                .navs-box
                    .navs-content
                        h2 skills
            a(href='#sheet')
                .navs-box
                    .navs-content
                        h2 music sheet
    section#about.aboutme-detail(data-aos='fade-out')
        section
            .detail
                ul
                    li A
                    li B
                    li O
                    li U
                    li T
                    li &nbsp;
                    li M
                    li E
                    div(style='clear: both')
            .detail-container
                .detail-box.hanan-box
                    .imgBx
                        img.img-hanan(src='/image/hanan_davila.jpg')
                    .contentBx.hananBx
                        p
                            | I am currently a final year student at the University of Melbourne, pursuing my Master&rsquo;s in orchestral performance. I am a professional pianist, but I am also learning guitar and flute. During my free time, I also enjoy composing music.
                .detail-box.orch-box
                    .imgBx
                        img.img-orch(src='/image/orchestra.jpg')
                    .contentBx.orchBx
                        p
                            | Last year, I successfully became an Orchestral Ensemble student at the Melbourne Conservatorium of Music, and participated in two out of four annual public performances, one of which was held overseas in Singapore. I&rsquo;m also the secretary
                            | of the Music Student&rsquo;s Society at the University.
    <!-- section.aboutme-hint(data-aos='fade-out')
    h2
        | This e-Portfolio contains examples of my performance, music composition and other related experiences. Please feel free to explore my website. -->
    section#skill.music-skills(data-aos='fade-out')
        h2.skill-header Music skills and Achievements
        .skill-container
            .skill-box
                .icon
                    img(src='/image/piano-icon.png' alt='')
                .content
                    h2 Piano
                    h3
                        | AMEB Grade 8
                        br
                        | Professional level
            .skill-box
                .icon
                    img(src='/image/guitar-icon.png' alt='')
                .content
                    h2 Guitar
                    h3 AMEB Grade 6
            .skill-box
                .icon
                    img(src='/image/flute-icon.png' alt='')
                .content
                    h2 Flute
                    h3 AMEB Grade 4
    #sheet.music-sheet
        h2 Music Sheet Sample
        h3 Want to access all my sheets?
        p
            a(href='/login') Login
            |  right now!
        <div class="swiper-container">
        <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/image/musicsheet1-1.jpg"></div>
        <div class="swiper-slide"><img src="/image/musicsheet1-2.jpg"></div>
        <div class="swiper-slide"><img src="/image/musicsheet1-3.jpg"></div>
        </div>
        </div>
    // begin section
    // end section
    script(src='https://code.jquery.com/jquery-3.5.1.js', integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=', crossorigin='anonymous')
    script(type='text/javascript').
        $(".input").focus(function () {
            $(this).parent().addClass("focus");
        }).blur(function (){
            if($(this).val() === ''){
                $(this).parent().removeClass("focus");
            }
        })
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            offset: 200,
            duration: 2000
        });
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script.
        const swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 10,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
        });

    script(type='text/javascript' src='/javascripts/vanilla-tilt.js')
    script(type='text/javascript').
        VanillaTilt.init(document.querySelectorAll(".detail-box"), {max: 3, speed: 300});