doctype html
html
  head
    title= "Hanan Davila"
    link(rel='stylesheet', href='/stylesheets/nav.css')
    block head
  body
    // navbar header
    .nav-header
      .nav-brand
        img(src='https://d2glwx35mhbfwf.cloudfront.net/v7.1.2/logo-with-padding.svg')
      i.fa.fa-bars.fa-3x
      .header-links
        ul
          if(user)
            li(data-filter='.portfolio-tag-web')
              a(href='/users/logout') LOGOUT

          if(!user)
            li(data-filter='.portfolio-tag-web')
              a(href='/login') LOGIN
          li(data-filter='.portfolio-tag-web')
            a(href='/music') MUSIC
          li(data-filter='.portfolio-tag-media')
            a(href='/projects') PROJECTS
          li(data-filter='.portfolio-tag-media')
            a(href='/upload') UPLOAD
          if(user)
            li(data-filter='.portfolio-tag-web')
              a(href='/dashboard') DASHBOARD


          //li(data-filter='.portfolio-tag-creative')
            a(href='/campus_life') CAMPUS LIFE
          //li(data-filter='.portfolio-tag-crafts')
            a(href='/about') ABOUT
          li(data-filter='*')
            a(href='#') HOME
    // end navbar header

    block content
