doctype html
html
    head
        title= "log in"
    body
        .login
            h1 Welcome
            h2 Please Log in or Sign up
            if (message)
                if (error.length > 0)
                    div.alert.alert-danger #{error}
            if (errorMessage)
                div.alert.alert-danger #{errorMessage}
            if (successMessage)
                div.alert.alert-success #{successMessage}

            form(action='/users/login', method='POST')
                .form-group
                    label(for='email') Email
                    input#email.form-control(type='email', name='email', placeholder='Enter Email')
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password', name='password', placeholder='Enter Password')
                button.btn.btn-primary(type='submit') Login
                p
                | No Account?
                a(href='/register') Register
