extends layout
block head
    title Music
    link(rel='stylesheet', href='/stylesheets/music.css')
block content
    .music-intro
        section
            h2 Music Sheet

    if(files)
        each file in files
            .card.card-body.mb-3
                if(file.isImage)
                    h2 #{file.filename}
                    embed(src='pdf/' + file.filename width='50%' height='700')
    else
        p No files to show

