extends layout
block head
    title Music Sheet
    link(rel='stylesheet', href='/stylesheets/music.css')
block content
    .container
        .music-intro
            section
                h2 Music Sheet

        if(files)
            each file in files
                .card.card-body.mb-3
                    if(file.isImage)
                        br
                        br
                        h2 #{file.filename}
                        br
                        br
                        embed(src='pdf/' + file.filename width='50%' height='700')
        else
            p No files to show
        br
        br

