extends layout
block head
    meta(charset='UTF-8')
    title Project
    link(rel='stylesheet', href='/stylesheets/project.css')

block content
    .container
        .project-intro
            section
                h2 Project
        .avatar
            .avatar3
                .avatar4
                    img(src='/image/hanan_davila_small.jpg')

                br
                img(src='/image/piano.png')
                br
                img(src='/image/flute-icon_small.png')
                br
                img(src='/image/456.png')

        //.avatar2
            img(src='/image/note.png')
        .project-detail-text
            | The University of Melbourne Symphony Orchestra 2018 - 2020
        .project-detail-text
            | Fire Relief Charity Concert 2019
        .project-detail-text
            | The Golden Stave Lunch Charity Concert May 2019
        br
        br


        .soundCloud
            each link in links
                h4 #{link.name}
                iframe(width='50%' height='300' scrolling='no' frameborder='no' allow='autoplay' src= link.link)
                br
                br
                br