extends layout
block head
    link(rel='stylesheet', href='/stylesheets/aboutme.css')


block content
    head
        meta(charset='UTF-8')
        title Project
        link(rel='stylesheet', href='/stylesheets/project.css')
        style.
            body {
                background-color: #e1e1e1;
            }
            div{
                text-align: center;
                margin-top: 50px;

            }
        <div class="project-intro">
            <section>
            <h2>Project</h2>

            </section>
        </div>

        <div class="detail-img right">
            <img src="/image/hanan_davila.jpg">
        </div>

        <div class = "detail-text">
            The University of Melbourne Symphony Orchestra 2018 - 2020
        <div>
        <div class = "detail-text">
            Fire Relief Charity Concert 2019
        <div>
        <div class = "detail-text">
        The Golden Stave Lunch Charity Concert May 2019
        <div>
        div
            <iframe width="50%" height="300" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/615523962&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/ashamaluevmusic" title="AShamaluevMusic" target="_blank" style="color: #cccccc; text-decoration: none;">AShamaluevMusic</a> · <a href="https://soundcloud.com/ashamaluevmusic/piano-cinematic" title="Piano Cinematic - (No Copyright) Emotional Background Music For Vidos (DOWNLOAD MP3)" target="_blank" style="color: #cccccc; text-decoration: none;">Piano Cinematic - (No Copyright) Emotional Background Music For Vidos (DOWNLOAD MP3)</a></div>

            <iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200823225&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/ashamaluevmusic" title="AShamaluevMusic" target="_blank" style="color: #cccccc; text-decoration: none;">AShamaluevMusic</a> · <a href="https://soundcloud.com/ashamaluevmusic/cinematic-piano" title="Cinematic Piano - (No Copyright Music) Emotional Background Music For Videos &amp; Films" target="_blank" style="color: #cccccc; text-decoration: none;">Cinematic Piano - (No Copyright Music) Emotional Background Music For Videos &amp; Films</a></div>