head
    link(rel='stylesheet', href='/stylesheets/campus_skill.css')
    a(href='https://unimelb.edu.au')
        img(src="/image/download.png")
    title Skills
h1  Skills
p This is a section.
p2 This is another section
    a(href='')