doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/skill-siyu.css')
    body
        block content
            .aboutme-intro
                section
                    h1 Music Skills and Achievements
                    p
                        | Piano: AMEB Grade 8, Professional level
                        br
                        | Guitar: AMEB Grade 6
                        br
                        | Flute: AMEB Grade 4
                    h4 (The Australian Music Examinations Board (AMEB) examinations cover a large range of skill levels, including the Associate in Music (AMusA), the Licentiate in Music (LMusA), and ultimately the Fellowship in Music (FMusA), a diploma that is often conferred on an honorary basis to musical luminaries.)