extends layout


block content
  head
    a(href='https://unimelb.edu.au')
      img(src="/images/download.png")
    title Skills
  h1  Skills
  p This is a section.
  p2 This is another section
    a(href='')


