<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
</head>
<body>
    <div class="drop-zone">
        <h2>To upload a link, at the music’s SoundCloud page, select <span>share->embed</span>, copy the long string in the box and paste it below</h2>
        <span class="drop-zone-prompt">Drop file here or click to upload</span>
        <div class="drop-zone--thumb" data-label="myFile.txt"></div>
        <input type="file" name="myFile" class="drop-zone--input">
    </div>

    <script src="/javascripts/upload.js"></script>
</body>
</html>