<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="nav-slider">
  <div class="navs-box">
    <a href="#intro"></a>
    <div class="navs-content">
      <h2>home</h2>
    </div>
  </div>
  <div class="navs-box">
    <div class="navs-content">
      <h2>about</h2>
    </div>
  </div>
  <div class="navs-box">
    <div class="navs-content">
      <h2>skills</h2>
    </div>
  </div>
  <div class="navs-box">
    <div class="navs-content">
      <h2>music sheet</h2>
    </div>
  </div>
  <div class="navs-box">
    <div class="navs-content">
      <h2>contact</h2>
    </div>
  </div>
</div>


</body>
</html>