doctype html
html
    head
        title= "log in"
        link(rel='stylesheet', href='/stylesheets/userpage.css')
    body
    .black
    .white
        .login
            h1 Welcome
            h2 This is your dashboard
            if (message)
                if (error.length > 0)
                    div.alert.alert-danger #{error}
            if (errorMessage)
                div.aldoctype html
        a(href='/') return to homepage