/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

.aboutme-header {
    background-color: #17bdb0;
    width: 100%;
    height: 100px;
}

.aboutme-nav ul {
    display: block;
    margin: 0 auto;
    padding: 30px 20px;
}

.aboutme-nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

.aboutme-nav ul li a {
    font-size: 20px;
    color: #dfffff;
    font-weight: 700;
    text-decoration: none;
}

.aboutme-intro {
    background-color: #17bdb0;
    width: 100%;
    height: 500px;
}

.aboutme-intro section{
    display: block;
    text-align: center;
    padding-top: 175px;
}

.aboutme-intro section h2{
    font-size: 35px;
    color: #12413b;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 10px;
}

.aboutme-intro section h3{
    font-size: 20px;
    color: #dfffff;
    font-weight: 200;
    text-decoration: none;
    padding-top: 10px;
}

.aboutme-detail {
    background-color: #11374a;
    width: 100%;
    height: 500px;
}

.aboutme-detail h2 {
    font-size: 40px;
    color: #0ab2ab;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.detail-left {
    width: 50%;
    float: left;
}

.detail-left p {
    font-size: 20px;
    color: #dfffff;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 80px;
}

.detail-left img{
    width: 300px;
}

.detail-right {
    width: 50%;
    float: right;
}

.detail-right h3 {
    font-size: 20px;
    color: #dfffff;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.detail-right h4 {
    font-size: 25px;
    color: #0ab2ab;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.aboutme-music {
    background-color: #17bdb0;
    width: 100%;
    height: 700px;
}

.aboutme-music h2 {
    font-size: 40px;
    color: #11374a;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}

.aboutme-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 80px;
    height: 0px;
}

.aboutme-video iframe {
    position: absolute;
    left: 25%;
    height: 50%;
    width: 50%;
}

.aboutme-contact {
    background-color: #11374a;
    width: 100%;
    height: 500px;
}

.aboutme-contact h2 {
    font-size: 40px;
    color: #0ab2ab;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 150px;
}

.aboutme-contact p {
    font-size: 20px;
    color: #0ab2ab;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
}