@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BACKGROUND */

body {
    background: #606468;
    background-image: url("https://cdn.wallpapersafari.com/89/76/AWOZp2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    justify-content: center;
}

/* STRUCTURE */

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
    min-height: 50%;
    max-height: 80%;
    padding: 20px;
}

.login {
    margin: auto;
    top: 200px;
    left: 0px;
    right: 0px;
    bottom: 0;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    background: #D3D3D3;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;


}

h1{
    color: #5a5858;
    text-align: center;
}

h2{
    color: #0d0d0d;
    border-bottom: 2px solid #F08080;
    text-align: center;
}

/* FORM */

button[type=button],
button[type=submit],
button[type=reset]  {
    background-color: #F08080;
    border: none;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

button[type=button]:hover,
button[type=submit]:hover,
button[type=reset]:hover  {
    background-color: #FFB6C1;
}

button[type=button]:active,
button[type=submit]:active,
button[type=reset]:active  {
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

input[type=email]{
    background-color: #A9A9A9;
    border: none;
    color: #0d0d0d;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 7px 0px 0px 35px;
    width: 70%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
input[type=password]{
    background-color: #A9A9A9;
    border: none;
    color: #0d0d0d;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 7px 0px 0px 7px;
    width: 70%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
input[type=email]:focus,
input[type=password]:focus{
    background-color: #fff;
    border-bottom: 2px solid #E9967A;
}

input[type=email]::placeholder,
input[type=password]::placeholder{
    color: black;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;}