body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 590px;
}

.swiper-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}