body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-size: 90px;
}

p {
  font-family: verdana;
  font-size: 40px;
  border-left:8px solid #3CB371;
  border-radius:4px;
  padding-left:15px;
}
p2{
  color: grey;
  font-size: 40px;
  border-left:8px solid #3CB371;
  border-radius:4px;
  padding-left:15px;

}

p3{
  font-family: verdana;
  font-size: 40px;
  border-left:8px solid #3CB371;
  border-radius:4px;
  padding-left:15px;
}