body {
    background-color: #ebebeb;
}
.uploadlink-container {
    padding-top: 100px;
    width: 100%;
    height: 80vh;
}


.uploadlink-left {
    width: 50%;
    float: left;
    height: 600px;
    position: relative;
}

.uploadlink-left form {
    padding-left: 12%;
    padding-top: 1%;
}

.row {
    padding-left: 12%;
    padding-right: 15%;
}

.inputBox {
    box-sizing: border-box;
    margin-bottom: 40px;
}

.linktitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 2px solid rgba(0,0,0,.5);
}

.upload-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 40%;
    min-width: 75px;
    margin-left: 30%;
    background: #00bcd4;
    border-radius: 0;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
}

.uploadlink-tip {
    width: 75%;
    float: left;
    margin-left: 12%;
    text-align: left;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

.uploadlink-tip span {
    font-weight: 600;
    color: #f00;
}

.uploadlink-right {
    margin-top: -3%;
    width: 50%;
    float: right;
    height: 600px;
    position: relative;
}

.uploadlink-right h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.right-box {
    padding-left: 20%;
    padding-top: 3%;
}

.delete-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
    width: 22%;
    min-width: 60px;
    background: #00bcd4;
    border-radius: 0;
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
}

.alert {
    margin-left: 35%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #f00;
}

@media only screen and (max-width: 420px) {

    .uploadlink-tip {
        width: 80%;
        float: left;
        margin-left: 12%;
        text-align: left;
        height: 100px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
    }

    .linktitle {
        font-size: 15px;
    }

    .row {
        padding-right: 5%;
    }

    .inputBox {
        margin-bottom: 20px;
    }

    .input {
        margin-left: -10px;
        font-size: 15px;
        height: 30px;
    }

    .uploadlink-right h3 {
        font-weight: 500;
        font-size: 12px;
    }

    .upload-button {
        font-size: 15px;
        width: 30%;
        min-width: 70px;
        margin-left: 25%;
        height: 30px;
    }

    .delete-button {
        font-size: 12px;
        width: 15%;
        min-width: 55px;
        height: 23px;
    }

    .alert {
        margin-left: 15%;
        font-weight: 600;
        font-size: 12px;
    }
}