<header class="aboutme-header">
|         <nav class="aboutme-nav">
|             <ul>
|                 <li><a href="/">Homepage |</a></li>
|                 <li><a href="/aboutme">About me</a></li>
|             </ul>
|         </nav>
|</header>